<html>

  <head>
    {% load static %}
    <style>
      @font-face {
        font-family: "Azedo";
        src: url("{% static 'azedo/Azedo-Bold.otf' %}") format("opentype");
      }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'Chart.HeatMap.S.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="{% static 'main.js' %}"></script>


    <script>
      start("{{id}}", "{{host}}")
      fetch_models("{{id}}", "{{host}}")
    </script>
  </head>

  <body>

    <!-- BEGIN FIRST NAVIGATION BAR -->
    <nav class="nav-black">
      <div class="nav-container">
        <div class="nav-title">Flexys</div>
      </div>
    </nav>
    <!-- END FIRST NAVIGATION BAR -->

    <!-- BEGIN SECOND NAVIGATION BAR -->
    <nav class="nav-blue">
        <button id="data-overview-button" class="tab-button-selected">Data Overview</button>
        <button id="data-analytics-button" class="tab-button">Data Analysis</button>
        <button id="machine-learning-button" class="tab-button">Machine Learning</button>
    </nav>
    <!-- END SECOND NAVIGATION BAR -->

    <!-- BEGIN MAIN CONTAINER -->
    <div class="main-content-container">

      <!-- BEGIN DATA OVERVIEW VIEW -->
      <div id="data-overview-view">
        <div class="table-bubble">
          <div class="bubble-title">Numerical Columns</div>
          <table id="numerical-table">
            <thead>
              <th>Name</th>
              <th>Filled</th>
              <th>Min</th>
              <th>Mean</th>
              <th>Median</th>
              <th>Max</th>
            <thead>
            <tbody></tbody>
          </table>
        </div>
        <div class="table-bubble secondary-bubble">
          <div class="bubble-title">Categorical Columns</div>
          <table id="categorical-table">
            <thead>
              <th>Name</th>
              <th>Filled</th>
              <th>Unique</th>
            <thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
      <!-- END DATA OVERVIEW VIEW -->

      <!-- BEGIN MACHINE LEARNING VIEW -->
      <div id="data-analytics-view">
        <div class="importance-bubble secondary-bubble">
          <div class="bubble-title plot-title">Feature Importances</div>
          <canvas id="importanceChart" width="860" height="350"></canvas>
        </div>
      </div>

      <!-- BEGIN MACHINE LEARNING VIEW -->
      <div id="machine-learning-view">
        <div class="performance-bubble">
          <div class="bubble-title plot-title">Model Performances</div>
          <canvas id="myChart" width="860" height="300"></canvas>
        </div>
        <div class="model-info-bubble">
          <div class="bubble-title plot-title">Support Vector Machine</div>
          <div class="bubble-left">
            <div class="param-bubble">
              <div class="param-title">Parameters</div>
              <p id="svm-alpha" class="param"><p>
              <p id="svm-max_iter" class="param"><p>
            </div>
            <div class="stats-bubble">
              <div class="stats-title">Statistics</div>
              <p id="svm-validation" class="param">Validation Method: Stratified K-Fold<p>
              <p id="svm-fit_time" class="param"><p>
              <p id="svm-score_time" class="param"><p>
              <p id="svm-model_size" class="param"><p>
            </div>
          </div>
          <div class="bubble-right">
            <table id="svm-confusion-left" class="right-table-left-labels"></table>
            <table id="svm-confusion" class="bubble-right-table"></table>
            <table id="svm-confusion-bottom" class="right-table-bottom-labels"></table>
          </div>
          <div class="bubble-right">

          </div>
        </div>
        <div class="model-info-bubble">
          <div class="bubble-title plot-title">Random Forest</div>
          <div class="bubble-left">
            <div class="param-bubble">
              <div class="param-title">Parameters</div>
              <p id="rf-max_depth" class="param"><p>
              <p id="rf-min_samples_split" class="param"><p>
              <p id="rf-n_estimators" class="param"><p>
            </div>

            <div class="stats-bubble">
              <div class="stats-title">Statistics</div>
              <p id="rf-validation" class="param">Validation Method: Stratified K-Fold<p>
              <p id="rf-fit_time" class="param"><p>
              <p id="rf-score_time" class="param"><p>
              <p id="rf-model_size" class="param"><p>
            </div>
          </div>
          <div class="bubble-right">
            <table id="rf-confusion" class="bubble-right-table"></table>
            <table id="rf-confusion-bottom" class="right-table-bottom-labels"></table>
            <table id="rf-confusion-left" class="right-table-left-labels"></table>
          </div>
        </div>
      </div>
      <!-- END MACHINE LEARNING VIEW -->

    </div>
    <!-- END MAIN CONTAINER -->

  </body>

</html>
